<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          
        <h2>Mission Statement</h2>
        <p class="lead">The Post Ghost technique is to enhance the artist/band as they are and wish to be, smoothly, subtly, and professionally. We are here to give you the best, loudest, clearest, most dynamic masters and leave you satisfied every time.</p>

        <hr class="small">
          
        <h2>Finished Product Summary</h2>
        <p class="lead">Getting your material mastered is essential for finding radio play, live shows, and to make your album or EP sound great both digitally and in physical formats. The finished product you receive back will be rich, lively, and commercially viable. We send free 30 second samples of your masters so that you can hear what you’re getting before you pay for it. Once you have approved the samples, your full tracks will be made available online; a burned CDR can be mailed to you upon request. Track names will be printed and included on the disc and bounces.</p>
          
        <hr class="small">
          
        <h2>Pricing &amp; Payment Methods</h2>
        <p class="lead">Cash, check, and PayPal are all acceptable payment methods.
I charge $50 per song. Intros, interludes, and outros are based on length; items under one minute are free, anything over will be the standard $50 price.</p>

        <hr class="small">
          
        <h2>Guarantee</h2>
        <p class="lead"><b>Professional service and quality.<br>
Fast and excellent results.</b><br><br>
If you aren’t immediately fully satisfied, we will happily take your feedback, make adjustments, and provide the results you want.</p>
          
        <hr class="small">
          
        <h2>Education</h2>
        <p class="lead"><b>D. Ernest</b><br>
        Associate of Arts Degree in Music and Recording</b><br>
        Madison Media Institute, Madison, Wisconsin<br>
        Degree awarded in January 2010</p>
      
        <hr class="small">      
          
        <h2>Artist Portfolio Samples</h2>  
        <p class="lead">We want you to hear the high quality of work you can expect from Post Ghost Production Company.  Samples include numerous artists in various genres so you can experience what your music will sound like after our mastering process.</p>   
          
        <a href="https://www.dropbox.com/sh/own2n836ovrz7hg/AAC1vDqhP-QPQwbUNmcuUcV2a?dl=0" class="btn btn-dark">Stream</a>  
        <a href="https://www.dropbox.com/s/msod01hooyncbc3/Post%20Ghost%20Portfolio%20%28Mp3%29.zip?dl=0" class="btn btn-dark">Download (MP3)</a>
        <a href="https://www.dropbox.com/s/fuid7p3jmo2mczg/Post%20Ghost%20Portfolio%20%28WAV%29.zip?dl=0" class="btn btn-dark">Download (WAV)</a>
          
                  <hr class="small">

          
          
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
