<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <p class="lead">My name is Devon Ernest, I’m 28 years old, and my hobbies and professional interests include songwriting, making beats, playing keyboard, recording, production, mixing, and mastering. On a professional level, I’m interested in all genres of music/audio. I look forward to working with you.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
