<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <p class="lead">The Post Ghost Production Company, established in 2010, has a wide array of production and mastering expertise. We pride ourselves in offering 'The Whole Package' to our clients. With PGPC you'll gain access to an expert-level engineering team utilising the best of hard and soft technologies to get your mix sounding great.</p>
        <p class="lead">The Post Ghost technique is to enhance the artist/band as they are and wish to be, smoothly, subtly, and professionally. We aim to give you the loudest, clearest, most dynamic masters possible.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
