<section id="instructions" class="instructions">
<aside class="instructions bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">


        <h2>How to get your FREE Master</h2>
        <p class="lead">Simply email us with your name, a little bit about your audio file, and most importantly, be sure to include a 24 or 32 bit WAV of the track you would like mastered for your demo. I will reach out to you within 24 hours with confirmation I have received your audio.</p>

      </div>
    </div>
  </div>
</aside>
