<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Samples</h2>
        <hr class="small">
          
        <div class="row">        
        <p>We want you to hear the high quality of work you can expect from Post Ghost Production Company.  Samples include numerous artists in various genres so you can experience what your music will sound like after our mastering process.</p>   
            
          </div>
          

          <!-- /.row (nested) -->
          
          
          
        <a href="#" class="btn btn-dark">Samples coming soon! (Return to top)</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
