<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
          
        <div class="row">
        
        <h3>Kai Andersen And The Pick-Ups</h3>    
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>Count Paris (Pre)</p>
                      <audio controls>
         <source src="/audio/samples/Count_Paris_Pre.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>Count Paris (Post)</p>
                      <audio controls>
         <source src="/audio/samples/Count_Paris_Post.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
                <p>FireWater (Pre)</p>
                      <audio controls>
         <source src="/audio/samples/FireWater_Pre.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>FireWater (Post)</p>
                      <audio controls>
         <source src="/audio/samples/FireWater_Post.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>Into The Night (Pre)</p>
                      <audio controls>
         <source src="/audio/samples/Into_The_Night_Pre.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>Into The Night (Post)</p>
                      <audio controls>
         <source src="/audio/samples/Into_The_Night_Post.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
            
        </div>
        <!-- /.row (nested) -->          
          
          
        <div class="row">
        
        
        <h3>Midas Bison</h3>    
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>Drugs (Pre)</p>
                      <audio controls>
         <source src="/audio/samples/Drugs_Pre.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>Drugs (Post)</p>
                      <audio controls>
         <source src="/audio/samples/Drugs_Post.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
                <p>I Still Try (Pre)</p>
                      <audio controls>
         <source src="/audio/samples/I_Still_Try_Pre.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
            
          <div class="col-md-6">
            <div class="portfolio-item">
                <p>I Still Try (Post)</p>
                      <audio controls>
         <source src="/audio/samples/I_Still_Try_Post.wav" type="audio/wav" />
         Your browser does not support the audio element.
      </audio>
            </div>
          </div>
          
            
        </div>
        <!-- /.row (nested) -->
          
          
          
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
