<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Artist Portfolio Samples</h2>
        <hr class="small">
          
        <div class="row">        
        <p class="lead">We want you to hear the high quality of work you can expect from Post Ghost Production Company.  Samples include numerous artists in various genres so you can experience what your music will sound like after our mastering process.</p>   
            
          </div>
          

          <!-- /.row (nested) -->
          
          
        <a href="https://www.dropbox.com/sh/own2n836ovrz7hg/AAC1vDqhP-QPQwbUNmcuUcV2a?dl=0" class="btn btn-dark">Stream</a>  
        <a href="https://www.dropbox.com/s/msod01hooyncbc3/Post%20Ghost%20Portfolio%20%28Mp3%29.zip?dl=0" class="btn btn-dark">Download (MP3)</a>
        <a href="https://www.dropbox.com/s/fuid7p3jmo2mczg/Post%20Ghost%20Portfolio%20%28WAV%29.zip?dl=0" class="btn btn-dark">Download (WAV)</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
